---
import * as assets from "../../content/assets.md"
import * as content from "../../content/links.md"

const {footerLink} = content.frontmatter

const {logo} = assets.frontmatter.footerLogo

const lightUp = "duration-300 opacity-100 hover:opacity-80"


---
<footer class="bg-blue h-40 flex flex-col items-center justify-center gap-5 text-dark-slate">
    <span class="w-5/6 h-px bg-dark-slate px-5 max-w-96"></span>
    
    <p >Alex Christodoulou © 2023</p>
    <div class="flex gap-10 items-center">
        <a href="/"><img src={logo} class=`w-12 ${lightUp}`></a>


    </div>
   
</footer>