---
import * as assets from "/src/content/general/assets.md"
import BurgerMenu from "/src/components/general/BurgerMenu.jsx"
const hoverStyles = "after:block after:w-0 after:h-px after:bg-white after:duration-300 hover:after:w-full"

---

<nav class="fixed z-20 top-0 left-0 h-20 w-full  flex justify-center backdrop-blur-md bg-slate bg-opacity-50 z-50">

    <div class="container flex justify-between items-center m-auto">
        <a href="/"><img src={assets.frontmatter.headerLogo} class="h-auto w-16" /></a>

        <ul class="flex items-center gap-5 text-white max-lg:hidden">

            <li><a href="/" class={hoverStyles}>home</a></li>
            <li><a href="/services" class={hoverStyles}>services</a></li>
            <li><a href="/contact" class="px-4 pb-1 pt-[0.1rem] text-black bg-blue rounded-full" >get started</a></li>
        </ul>
            
        <BurgerMenu 
            client:visible 
        />
    </div>

   
    
</nav>

    
   