---
import * as assets from "/src/content/general/assets.md"
import BurgerMenu from "/src/components/general/BurgerMenu.jsx"
const hoverStyles = "after:block after:w-0 after:h-px after:bg-white after:duration-300 hover:after:w-full"

---

<nav class="fixed z-20 top-0 left-0 h-20 w-full  flex justify-center backdrop-blur-md bg-slate bg-opacity-50 z-50">

    <div class="container flex justify-between items-center m-auto">
        <a href="/"><img src={assets.frontmatter.headerLogo} class="h-auto w-16" /></a>

        <ul class="flex items-center gap-5 text-white max-lg:hidden">

            <li><a href="/" class={hoverStyles}>home</a></li>
            <li><a href="/services" class={hoverStyles}>services</a></li>
            <li class=" h-8 mt-2 overflow-hidden">
                
                <a href="/contact" class="block overflow-hidden px-4 pb-[3px] pt-[1px]  rounded-full relative group text-black relative z-20 border border-slate hover:border-purple" >
                    
                    <span class="h-8 w-64 absolute -right-8 -top-px group-hover:-right-36 duration-300 z-30">
                        <span class="w-32 h-8 bg-purple -skew-x-12 absolute"/>
                        <span class="w-28 h-8 bg-blue -skew-x-12  absolute left-28 "/>
                    </span>

                    <span class="relative z-20 group-hover:text-white z-40">get started</span>
                    
                </a>
            </li>
        </ul>
            
        <BurgerMenu 
            client:visible 
        />
    </div>

   
    
</nav>

    
   