---
import Main from "../layouts/Main.astro";
import * as content from "./contact.md"
import Timeline from "../components/contact/Timeline.jsx";
import ContactForm from "../components/contact/ContactForm"

const {title, heading, subheading, timelineItem} = content.frontmatter
---
<Main title={title} footerColor="bg-slate" >
    <section class="text-white">
        <div class="container">

            <div class="mb-12 md:w-1/2">
                <h1 class="text-4xl font-semibold text-white">
                    {heading}
                </h1>
                <div class="h-1 w-[250px] bg-red mt-5 mb-7" />

                <h6 class="font-semibold text-blue text-3xl mb-8">
                    {subheading}
                </h6>
            </div>

            <div class="flex flex-col items-center gap-20 lg:flex-row lg:justify-around lg:items-start lg:gap-0">

                <Timeline client:load
                    content={timelineItem}
                />
                
                <ContactForm client:load/>

            </div>


        </div>

    </section>
</Main>