---
import Main from "../layouts/Main.astro";
import Section from "../components/general/Section.astro";
import Timeline from "../components/services/Timeline";
import ContactForm from "../components/contact/ContactForm"
---
<Main headerCol="bg-slate" bg="bg-slate">
        <div class="c-section w-full max-w-7xl px-5 text-center">
            <h1 class="font-bold text-5xl text-blue-lt ">
                Interested in one or more of my services?
            </h1>
        </div>

        <div class="w-full">

        </div>
            
       

    
    
        <Timeline client:load/>
        <ContactForm client:load/>

  
</Main>