---
import Main from "../layouts/Main.astro";
import * as content from "./contact.md"
import Timeline from "../components/contact/Timeline.jsx";
import ContactForm from "../components/contact/ContactForm"

const {title, heading, subHeading, timelineItem} = content.frontmatter
---
<Main title={title} >
        <div class="c-section w-full max-w-7xl px-5 text-center">
            <h1 class="font-bold text-5xl text-blue-lt ">
                {heading}
            </h1>
            <h6>{subHeading}</h6>
        </div>

        <div class="w-full">

        </div>
            
        <Timeline client:load
            content={timelineItem}
            
        />

        <ContactForm client:load/>

  
</Main>