---
import Main from "../layouts/Main.astro";
import * as content from "./content/index.md"
import Banner from "../components/Banner"


const {title, banner, services, comparisonChart, ContactPrompt } = content.frontmatter

---

<Main title="Home">
    <Banner client:load
        heading={banner.heading}
        info={banner.info}
        image={banner.image}
    />
</Main>