---
import Main from "../layouts/Main.astro";
export interface Props {
    content: {
        title: string;
        image: string;
        heading: string;
    }
}


const { content : {title, image, heading} } = Astro.props as Props

---

<Main title="Home">
<p>{title}</p>
<p>{image}</p>
<p>{heading}</p>
</Main>