---
import Main from "../layouts/Main.astro";
import ContentSwitcher from "../components/services/ContentSwitcher.jsx";
import * as content from "../content/pages/services.md"
import Prompt from "../components/general/Prompt.astro";

const {title, service} = content.frontmatter
---

<Main title={title} footerColor="bg-slate-dark">
    <ContentSwitcher 
        client:load
        content={service}
    />
    <Prompt/>

</Main>