---
import Main from "../layouts/Main.astro";
import ContentSwitcher from "../components/ContentSwitcher.jsx";
import Prompt from "../components/Prompt.astro";
import { getCollection } from "astro:content";

const services = await getCollection("services")

---

<Main title="services" footerColor="bg-slate-dark">
    <ContentSwitcher 
        client:load
        contentTwo={services}
    />
    <Prompt/>

</Main>