
<div class="w-full h-screen bg-slate flex items-center justify-center">
    <div class=" w-full mx-5 max-w-md bg-white rounded-lg p-6 text-slate space-y-4">
        <h5 class="font-bold text-2xl">Thank you!</h5>
        <p>Your form submission has been recieved.</p>
        <p class="text-purple font-bold"><a href="/contact">Back to our site</a></p>
    </div>
</div>


