---
import Section from "../general/Section.astro";
import PromptButton from "./PromptButton"
---

<div class="min-h-full pt-20 border-box bg-white text-dark-slate text-center rounded-t-[8rem]">

    <Section>
        <h2 class="font-bold text-3xl text-center">Ready to make something beautiful?</h2>
    </Section>

    <Section>
        <PromptButton client:visible/>
    </Section>

    <Section>
        <p>Not just yet? Explore <a class="underline cursor-pointer">my services</a></p>
    </Section>
</div>