---
import Section from "../general/Section.astro"
---

<div class="w-full h-screen bg-off-white text-black py-20">
        <Section>
                <slot name="heading" />
        </Section>
        <Section>
                <slot name="accordion" />
        </Section>
</div>