---
import * as logos from "../../public/metadata/logos.md"
---
<footer class="bg-gray-200 h-40 flex flex-col items-center justify-center gap-5">
    <a href="/"><img src={logos.frontmatter.footerLogo} class="w-32 duration-300 hover:scale-105"></a>
    
    <p>Alex Christodoulou © 2023</p>
</footer>