---
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro"
import GlobalStyles from "../style/GlobalStyles.astro"

interface Props {
	title: string;
	footerColor: string
}

const { title, footerColor } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/src/images/logoDark.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate">

		<Header />
			<div class={`h-20 w-full bg-slate`} />

			<slot />
		<Footer color={footerColor}/>


		
		<script>
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", user => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		  </script>


	</body>

	<GlobalStyles />
	

</html>
