---
import Header from "../components/general/Header.astro";
import Footer from "../components/general/Footer.astro"
import GlobalStyles from "../style/GlobalStyles.astro"
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate">

		<Header />
		
			<div class={`h-20 w-full bg-slate`}></div>

			<slot />
		<Footer />
		
	</body>

	<GlobalStyles />
	

</html>

